@charset "UTF-8";
@import "base.css";

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--EmbedCode);
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color4);
    color: var(--color6);
    width: 100%;
}

.navbar {
    flex: 1;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: bolder;
    letter-spacing: .5rem;
}

.menu-oppener {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
}

.menu-oppener span {
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color6);
}

header nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

header nav a {
    text-decoration: none;
    color: var(--color6);
}

header nav a:hover {
    color: var(--color5);
}


/* CLASSE PARA ABIRI OU FECHAR O MENU */
header nav.oppened {
    display: flex;
}


/* PARA TABLET E TELAS GRANDES */
@media(width >=768px) {
    header {
        flex-direction: row;
    }
    
    .menu-oppener {
        display: none;
    }

    header nav{
        display: flex;
        flex-direction: row;
    }

}


/* SECTION BANNER */

section.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}