@charset "UTF-8";
@import "base.css";


* {
    padding: 0px;
    margin: 0px;
    font-family: var(--EmbedCode);
    box-sizing: border-box;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--color4);
    color: var(--color6);
    width: 100%;
}

.navbar {
    flex: 1;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: bolder;
    letter-spacing: .5rem;
}

.menu-oppener {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
}

.menu-oppener span {
    display: block;
    width: 2rem;
    height: 0.2rem;
    background-color: var(--color6);
}

header nav {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

header nav a {
    text-decoration: none;
    color: var(--color6);
}

header nav a:hover {
    color: var(--color5);
}


/* CLASSE PARA ABIRI OU FECHAR O MENU */
header nav.oppened {
    display: flex;
}


/* MENU PARA TABLET E TELAS GRANDES */
@media(width >=768px) {
    header {
        flex-direction: row;
    }

    .menu-oppener {
        display: none;
    }

    header nav {
        display: flex;
        flex-direction: row;
    }

}

/* SECTION BANNER */

section.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.banner .container {
    text-align: center;
    color: var(--color6); 
    text-shadow: 2px 2px 4px #000000, -2px -2px 4px #ffffff;
}

.container h2 {
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.container p {
    font-size: 13px;
}

/* TEXTOS DO BANNER PARA TELAS GARNDES */

@media (width >=768px) {
    section.banner {
        justify-content: left;
    }

    section.banner .container {
        margin-left: 30px;

    }


    .container h2 {
        font-size: 20px;
        font-weight: bolder;
        letter-spacing: 5px;
    }

    .container p {
        font-size: 16px;
    }
}


/* ALGUNS JOGOS DE INÃCIO */

.some-games .grid{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 2rem;
    background-color: gray;
    padding: 20px;
}

@media (width >= 768px){
    .some-games .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width >= 1024px){
    .some-games .grid{
        grid-template-columns: 3, 1fr;
    }
}

/* GRID IETM */

.some-games .item{
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
}

.some-games .item .image{
    width: 100%;
    height: 300px;
    transition: all ease 0.5s;
}

.some-games .item .overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
    color: aqua;
    padding: 2rem;
    font-size: 1.9rem;
    line-height: 1.5rem;
    transition: all 0.5s linear;
    opacity: 0;

    inset: 0 0 0 0;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* O inset resume as propriedades */



}


.some-games .item .overlay .button{
    margin: 2rem;
    color: yellow;
    text-decoration: none;
}

.some-games .item:hover .image{
    transform: scale(1.2);
}

.some-games .item:hover .overlay{
    opacity: 1;
}


